h1, h2 {
  margin: 0;
  padding: 0;
  /* font-size: 1.2em; */
  font-weight: lighter;
  font-size: 60px;
  text-align: center;
  color: #000000;
  text-shadow: 3px 3px 1px rgb(243, 243, 243);
}
h1, h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-column {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: stretch;
}

#content {
  width: calc(100% - 30px);
  margin: 10px;
  padding: 10px;
  font-family: "Jersey 15", sans-serif;
}

.minor-section {
  flex: 1;
  margin: 0;
  padding: 12px;
  font-size: 30px;
}

.minor-section h2 {
  flex: 1;
  padding: 10px;
  font-size: 1.2em;
  font-size: 30px;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.image-wrapper {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;}

/* Set the image to be responsive */
.image-wrapper img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  
}
.image-link {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
  color: #5c2153;
}

.image-link a {
  color: #5c2153;
  text-decoration: none;
  font-weight: bold;
}

.image-link a:hover {
  text-decoration: underline;
}

/* Set the canvas element to be the full size of the container */
canvas {
  width: 100%;
  height: 100%;
}

.fullscreen-box {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  margin-top: 0.25em;
}

.fullscreen-box button {
  font-size: 0.6em;
}

body.is-fullscreen #canvas-container {
  position: fixed; /* Use 'fixed' instead of 'absolute' to ensure it covers the entire screen */
  top: 0;
  left: 0; /* Add 'left: 0' to align it properly to the top-left corner */
  width: 100vw !important;
  height: 100vh !important;
  margin: 0; /* Remove any default margins */
  z-index: 1000; /* Ensure it's above other content */
}

ul, .navbar-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  position: sticky;
  top: 0;
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #5c2153;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
.navbar-section{
  font-size: 30px;
  border: 3px solid #5c2153;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}