/* style.css */

/* Set the canvas element to be the full size of the container */
/* style.css */

/* General body styling */
body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #e7e7e7;
      }


#box {
    width: 600px;
    height: 600px;
    padding: 1em;
    margin: 1em auto;
    background: #DBE098; 
    font-family: 'Copperplate', sans-serif;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /*if content overflows box, adds scrollbars*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

/* Button styling */
#clicker {
    padding: 0.3em 0.6em;
    font-size: 0.8em;
    background-color: #fef3b5; 
    border: none;
    border-radius: 2px;
    transform: rotate(-2deg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Copperplate', sans-serif;
    cursor: pointer;
    margin-bottom: 0.5em;
    transition: transform 0.2s;
  }
  
  #clicker:hover {
    transform: rotate(0deg);
    background-color: #fff8c6;
  }
 

h1 {
    font-family: 'Copperplate', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.2em;
}

h2{
    font-family: 'Copperplate', sans-serif;
}

p {
    font-family:'Copperplate', sans-serif;
    font-size: 1em;
    color: #555;
    text-align: center;
}
